<h2><a [routerLink]="['/home']">Home</a></h2>

<h3>Edit this author:</h3>

<form (submit)="updateAuthor()">
  Name: <br>
  <div *ngIf="currentAuthor" >
    <input [(ngModel)]="currentAuthor.name" type="text" name="authorName" value="{{currentAuthor.name}}" required minlength="3" #author="ngModel">
    <input [routerLink]="['/home']" type="submit" value="Cancel">
    <input type="submit" value="Submit">
    <div *ngIf="!author.valid"><p>Please enter a name at least 3 characters long.</p></div>
    <div *ngIf="errors"><p>{{ errors }}</p></div>
</div>
</form>